extends layout

block content
    .login.well
      h1 Login Page!
      div.container
      if(typeof(invalid)!=='undefined')
        div.alert.alert-danger #{invalid}   
      else
      form(id='login-form', method='POST', action='/login')
        .form-group
          label(for='username') Username
          input(type='text', name='username', class='form-control', 
            id='username', placeholder='Enter username'
            required)
        .form-group
          label(for='password') Password
          input(type='password', name='password', class='form-control', 
            id='password', placeholder='Enter password',
            required)
        .form-group
          a(href="forgotPassword") forgotPassword?
          br
          br
          button.btn.btn-default Login
          a(href="registration" class="btn btn-success") Register  
